<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"><!-- 64x64 -->
  <link rel="icon" href="images/180x180.png">

  <title><%= current_page.data.title || "Wise Reads" %></title>

  <!-- social -->
  <link rel="image_src" type="image/png" href="https://wisereads.co/images/social.png" />
  <meta property="og:title" content="Checkout">
  <meta property="og:url" content="https://wisereads.co">
  <meta property="og:description" content="A curated list of incredibly helpful books that will help you become a better person.">
  <meta property="og:image" content="https://wisereads.co/images/og-image.png" /><!-- 1200 × 630 -->

  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://wisereads.co/images/card.png"><!-- 1024 × 512  OR   600 × 330 -->
  <meta name="twitter:site" content="@wisereadsco">
  <meta name="twitter:title" content="Wise Reads Co">
  <meta name="twitter:description" content="A curated list of incredibly helpful books that will help you become a better person.">
  <!-- social -->

  <%= stylesheet_link_tag "style" %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

  <!-- <%= javascript_include_tag "script" %> -->

</head>
<body>
  <header>
    <h1><a href="/"><%= image_tag("images/wisereads.svg", alt: "Wise Reads Co. Logo | becoming a better you", class: "logo") %></a></h1>
    <div class="divider">
      <p>Wise Reads is a curated list of incredibly helpful books that will help you become a better person.</p>
    </div>
  </header>
  <%= yield %>
  <footer class="divider">
    <p class="contact">Have a book you’d like to recomend? <%= mail_to("wisereads.co@gmail.com", "Sent us a message!") %> Or <%= link_to("Tweet at us!", "https://twitter.com/wisereadsco", target: "_blank") %></p>
    <p>© 2017 WiseReads.co</p>
    <p class="subdued">Creative Commons: Owl modified from Oksana Latysheva of the Noun Project</p>
  </footer>
</body>
