<%
  require 'goodreads'
  @client = Goodreads::Client.new(api_key: "p5qrzhENwZGbhMZ5izXULA")
%>
<%=isbn.inspect%>


<ul>
  <% isbn.each do |i| %>
    <% book = @client.book_by_isbn(i) %>
    <li><h1>title: <%=book.title%></h1></li>
    <li>ISBN: <%=book.isbn%></li>
    <li>publication_year: <%=book.publication_year%></li>
    <li>ratings_count: <%=book.ratings_count%></li>
    <li>reviews count: <%=book.work.reviews_count%></li>
    <li>average_rating:  <%=book.average_rating%></li>
    <li>GoodReads Link : <%= link_to("View on GoodReads ", book.link, target: "_blank" ) %></li>
    <li>num_pages: <%=book.num_pages%></li>
    <li>author name: <%=book.authors.author.name%></li>
    <li>author average_rating: <%=book.authors.author.average_rating%></li>
    <li>image_url: <%=book.image_url%></li>
    <li>publisher: <%=book.publisher%></li>
    <li>description: <%=book.description%></li>
    <hr>
  <% end %>
</ul>


<div class="">
  
  <p><%#=book.description.gsub(/<br \/><br \/><br \/><br \/>|<br\ \/><br\ \/><br\ \/>|<br \/><br \/>|<br \/> <br \/>|<br \/>|<br><br>|<br>/, '</p><p>') %></p>
  <!-- <p><%#=truncate_words(strip_tags(book.description), length: 800, separator: "<br>")%></p> -->
  <p>Published by <%#=book.publisher%> in <%#book.publication_year.to_s%></p>
  <p><%#=book.num_pages%> Pages, <%#=book.format%></p>
  <p>ISBN: <%#=book.isbn%></p>
  <p>GoodReads Link : <%#= link_to("View on GoodReads ", book.link, target: "_blank" ) %></p>
</div>
multiplied <%#=book.ratings_count.to_i * book.average_rating.to_i%>
average book rating: <%#=book.average_rating.to_i%>
ratings_count: <%#=book.ratings_count%>
reviews count: <%#=book.work.reviews_count%>
Custom Note: <%#= passed[:note] %>



https://www.goodreads.com/book/isbn/0441172717?format=JSON?key=p5qrzhENwZGbhMZ5izXULA

<%#= partial(:book, :locals => { :isbn => [9780310348450, 9780310520757, 9780802405647], :note => "other info from a custom field" }) %>
