<%
  require 'goodreads'
  @client = Goodreads::Client.new(api_key: "p5qrzhENwZGbhMZ5izXULA")
  books.each do |passed|
    book = @client.book_by_isbn(passed[:isbn])
%>
  <section class="book">
    <div class="side">
      <div class="circle number"><span><%= books.find_index(passed)+1 %></span></div>
      <a href="<%= passed[:link]%>" target="_blank"><%=image_tag('http://images.amazon.com/images/P/' + passed[:isbn] + '.01.LZZZZZZZ.jpg', class: "book_cover", alt: book.title)%></a>
      <%= link_to("View on Amazon ", passed[:link], target: "_blank", class: "btn outbound", title: "View and Get on Amazon" ) %>
      <span class="disclaimer">using this link helps keep this site online</span>
    </div>
    <div class="main">
      <h3><a href="<%=passed[:link]%>" target="_blank" class="booktitle"><%=book.title%></a></h3>
      <div class="inline">
        <h3 class="bookauthor">by <%= passed[:author] %></h3>
        <h5><span class="rating"><%=book.average_rating%><!-- out of 5.0 --> Hoots </span><a href="<%=book.link%>" target="_blank" title="View book in GoodReads" class="drop-target"><%=image_tag("images/info.svg", class: "info")%></a></h5>
      </div>
      <div class="description">
        <p><%=strip_tags(book.description)%></p>
      </div>
      <p><a href="<%=passed[:link]%>" target="_blank" class="readnow"> Read It Now! </a></p>
    </div>
  </section>


  
<% end %>
